---
title: Foundation Load Verification
value: foundation-load-verification
competencies:
  - competency: "structural-engineering-building-assessment"
  - competency: "geotechnical-engineering"
serviceClusters:
  - serviceCluster: "engineering-assessment"
thumbnail: /images/services/foundation-load-verification/dummy_thumbnail.jpg
gallery:
  - /images/services/foundation-load-verification/dummy_01.jpg
  - /images/services/foundation-load-verification/dummy_02.jpg
  - /images/services/foundation-load-verification/dummy_03.jpg
---

Our Foundation Load Verification service ensures the safety and reliability of foundations through precise testing and analysis. We assess the load-bearing capacity of soil and foundation elements using advanced techniques, including dynamic load testing, to verify performance under real-world conditions. This service is essential for optimizing foundation design, ensuring compliance with international standards, and minimizing construction risks. By delivering accurate and reliable results, we help clients achieve durable and cost-effective foundation solutions for their projects.

## Equipment
- Plate Load Test
  - 1 plate load test set
  - Determines the bearing capacity of soil
  - Estimation of California Bearing Ratio (CBR) value of constrution layers
  - French Norm "NF P 94-117-1 Essai Plaque" and Eurocode 7-3.11 standard
- Dynamic Load Test
  - 1 High strain dynamic load test system
  - Pile diameter up to 1.5m
  - 20 tonnes drop hammer
  - 2 tonnes steel frame
  - Hydraulic trigger of the hammer ram drop
  - ASTM D4945-00
