.main-nav-item {
  font-family: 'Bebas Neue Pro', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.333rem; /* 16pt */
  color: #757575;
}
.main-nav-item:hover {
  color: #0d0d0d; 
}

.slogan-1 {
  font-family: 'Bebas Neue Pro', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.467rem; /* 22pt */
  background-color: white;
  color: black;
  text-align: right;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 0.15em;
  padding-right: 0.15em;
  border-radius: 0em;
}

.slogan-2 {
  font-family: 'Bebas Neue Pro', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.333rem; /* 20pt */
  background-color: #dc0338;
  color: white;
  text-align: right;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-left: 0.15em;
  padding-right: 0.15em;
  border-radius: 0em;
}

.headline {
  font-family: 'Bebas Neue Pro', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.667rem; /* 25pt */
  background-color: transparent;
  color: #002240;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.headline-h2{
  font-size: 1.467rem; /* 22pt */
}

.headline-h1{
  font-size: 2rem; /* 30pt */
}

.headline-h1-light{
  color: white;
  font-size: 2.133rem; /* 32pt */
}

.subline {
  font-family: 'Myriad Pro Light', Arial, sans-serif;
  font-weight: normal;
  font-size: 0.933rem; /* 14pt */
  color: #0d0d0d;
}

.subline-large {
  font-family: 'Myriad Pro Light', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2rem; /* 18pt */
  color: #858585;
}

.subline-medium {
  font-family: 'Myriad Pro Light', Arial, sans-serif;
  font-weight: bold;
  font-size: 0.933rem; /* 14pt */
  color: #858585;
}

.subline-h2-light {
  font-size: 1.333rem; /* 20pt */
  color: #b2b2b2;
}

.text-std {
  font-family: 'Myriad Pro Light', Arial, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  color: #0d0d0d;
}